// Base Path
$img_path               :   "../images/";

// Font
$base_fz                :   13px;
$main_font              :   'open sans', sans-serif;
$secondary_font         :   'PT Sans', sans-serif;

// Color
$no_clr					:   transparent;
$clr_white				:   #ffffff;
$clr_black				:	#000000;
$clr_58                 :   #585858;
$clr_red                :   #e20147;
$clr_green              :   #00c300;

// Unit
$unit_10                 :   10px;

// Media Queries
$break_1280         :   1280px;
$break_1240         :   1240px;
$break_1080         :   1080px;
$break_991          :   991px;
$break_850          :   850px;
$break_768          :   768px;
$break_550          :   550px;
$break_450          :   450px;